venv/
.venv/
**/venv/
**/.venv/
__pycache__/
**/__pycache__/
*.py[cod]
.env
**/.env
*.log
.vscode/
**/.vscode/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
dbt_packages/
**/dbt_packages/
logs/
**/logs/
target/
**/target/